body{
    background-color: #2c6566;
    width: 100%;
    height: 100%;
}

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.navbar{ 
    background: #1f3440; 
    font-family: calibri; 
    
}

.navdiv{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo a{
    font-size: 35px; 
    font-weight: 600px;
    color: white;
}

li{
   list-style: none;
   display: inline-block; 
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    /* background-color: #4fa7c2; */
    color: white;
    width: 50%;
    margin-top: 15px;
    text-align: center;
}

p{
    /* background-color: #4fa7c2; */
    color: white;
    width: 80%;
    margin-top: 15px;
    text-align: justify;
}

.child{
    background-color: #2c6566;
    margin-top: 20px;
    height: auto;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ch {
    background-color: #4fa7c2;
    color: black;
     flex: 1 1 calc(50% - 10px); 
    box-sizing: border-box; 
    padding: 60px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.ch:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#ch1{
    background-image: url('images/architecture.jpg'); 
    background-size: cover; 
}

#ch2{
    background-image: url('images/education.jpg'); 
    background-size: cover; 
}

#ch3{
    background-image: url('images/engineering.jpg'); 
    background-size: cover; 
}

#ch4{
    background-image: url('images/law.jpg'); 
    background-size: cover; 
}

#ch5{
    background-image: url('images/medicine.jpg'); 
    background-size: cover; 
}

#ch6{
    background-image: url('images/science.jpg'); 
    background-size: cover; 
}

.modal {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.5s ease-in-out;
}

.modal-content {
    color: black;
    padding: 20px;
}

#modalText, #modalPrograms, #modalFaculty{
    color: black;
    text-align: justify;
}

#modalImage{
    width: 100%;
    height: 200px;
    
}

.apply{
    background-color: green;
    color: white;
    border-radius: 12px;
}

.apply:hover{
    background-color: rgb(148, 231, 24);
}

.close {
    font-size: 25px;
    cursor: pointer;
}

